% vim:ft=erlang:
%

[{stream_s3_region,
  "stream_s3.region = us-west-2",
  [{rabbitmq_stream_s3, [{aws_region, <<"us-west-2">>}]}],
  []},
 {stream_s3_region_endpoints,
  "stream_s3.region_endpoints.us-west-2 = amazonaws.com",
  [{rabbitmq_stream_s3, [{aws_region_endpoints, #{<<"us-west-2">> => <<"amazonaws.com">>}}]}],
  []},
 {stream_s3_access_key_id,
  "stream_s3.access_key_id = AKIAIOSFODNN7EXAMPLE",
  [{rabbitmq_stream_s3, [{aws_access_key, <<"AKIAIOSFODNN7EXAMPLE">>}]}],
  []},
 {stream_s3_secret_key,
  "stream_s3.secret_key = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY",
  [{rabbitmq_stream_s3, [{aws_secret_key, <<"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY">>}]}],
  []},
 {stream_s3_account_id,
  "stream_s3.account_id = 123456789012",
  [{rabbitmq_stream_s3, [{aws_account_id, <<"123456789012">>}]}],
  []},
 {stream_s3_bucket,
  "stream_s3.bucket = my-tiered-storage-bucket",
  [{rabbitmq_stream_s3, [{bucket, <<"my-tiered-storage-bucket">>}]}],
  []},
 {stream_s3_read_ahead,
  "stream_s3.read_ahead = 5MiB",
  [{rabbitmq_stream_s3, [{read_ahead, "5MiB"}]}],
  []},
 {streams_log_reader,
  "streams.log_reader = rabbitmq_stream_s3_log_reader",
  [{osiris, [{log_reader, rabbitmq_stream_s3_log_reader}]}],
  []},
 {streams_log_manifest,
  "streams.log_manifest = rabbitmq_stream_s3_log_manifest",
  [{osiris, [{log_manifest, rabbitmq_stream_s3_log_manifest}]}],
  []},
 {stream_s3_membership_reconciliation_enabled,
  "stream_s3.continuous_membership_reconciliation.enabled = true",
  [{rabbitmq_stream_s3, [{membership_reconciliation_enabled, true}]}],
  []},
 {stream_s3_membership_reconciliation_auto_remove,
  "stream_s3.continuous_membership_reconciliation.auto_remove = true",
  [{rabbitmq_stream_s3, [{membership_reconciliation_auto_remove, true}]}],
  []},
 {stream_s3_membership_reconciliation_interval,
  "stream_s3.continuous_membership_reconciliation.interval = 60",
  [{rabbitmq_stream_s3, [{membership_reconciliation_interval, 60}]}],
  []},
 {stream_s3_membership_reconciliation_trigger_interval,
  "stream_s3.continuous_membership_reconciliation.trigger_interval = 10",
  [{rabbitmq_stream_s3, [{membership_reconciliation_trigger_interval, 10}]}],
  []},
 {stream_s3_membership_reconciliation_target_group_size,
  "stream_s3.continuous_membership_reconciliation.target_group_size = 3",
  [{rabbitmq_stream_s3, [{membership_reconciliation_target_group_size, 3}]}],
  []},
 {stream_s3_verbose_logging,
  "stream_s3.verbose_logging = true",
  [{rabbitmq_stream_s3, [{verbose_logging, true}]}],
  []}].
