.sw?
.*.sw?
*.beam
/.erlang.mk/
/cover/
/test/ct.cover.spec
/deps/
/doc/
/ebin/
/escript/
/escript.lock
/logs/
/plugins/
/plugins.lock
/sbin/
/sbin.lock
/xrefr
/erl_crash.dump

rabbitmq_stream_s3.d
.rabbitmq_stream_s3.plt

# TLC model checker output
tla/*/states/
tla/*/*.dot
tla/*/MC_TTrace_*
